/* .hero-section{
    max-height: 600px;
    overflow-y: hidden;
}

.scroller{
    width: 200px;
    height: 600px;
    position: relative;

}

.banner{
    width: 200px;
    height: 600px;
   position: absolute; 
} */